/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v51-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* basic color  */
:root{
    --color--brand:#2B7FFF;
    --color--brand--dark: #011C44;
    --color--white: #FFFFFF;

}
*{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
address
{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--color--white) ;
    margin: 0;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* all section */

.section-title .accent {
    color: var(--color--brand);
}

/* section title */

.section-title {
    font-family: 'Play', sans-serif;
    color: var(--color--brand--dark);
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 40px;
}
.centered{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 0;
}

/* header */

.header {
    background-color: var(--color--white);
}
.header-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.header-nav{
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 240px;
        margin: 0 auto;
}
.header-menu{
    display: flex;
    gap: 56px; 
    flex-grow: 1;
}
.header-icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* main section */

.hero-section{
    background-image: url('./imagesbeauty/hero-background.png');
    /* background-image: linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%);*/
    background-repeat: no-repeat; 
    background-size: cover;
   background-position: center right;
   padding: 17px 0 20px 0;
}

.hero-title{
    width: 529px;
    color: var(--color--brand);
    font-family: 'Play', sans-serif;
     font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    text-align: left;
    margin: 0 0 40px 0; 
}
.hero-container{
    display: flex;
    flex-direction: column;
}
h1, h2{
    font-family: 'Play';
}
.main-button{
    display: flex;
    width: 219px;
    height: 53px;
    color:var(--color--white);
    background-color: var(--color--brand);
    font-family: inherit;
    font-weight: 600;
   border-radius: 32px;
   font-size: 18px;
   border: 2px solid var(--color--brand);
   flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
   gap: 10px;
   padding: 16px 32px;
margin-bottom: 14px;
}
.main-button:hover{
    color: var(--color--brand--dark);
    background-color: transparent;
}
.advice{
    width: 238px;
    height: 36px;
    font-size: 12px;
    text-align: center;
}
.cosmetics{
    font-size: 18px;
    margin-bottom: 16px;
}

/* section information */

.information-section{
    padding: 20px 0 88px 0;
}
.information-container{
    display: flex;
    gap: 40px;
}
.information-content{
    display: flex;
    flex-direction: column;
}
/* .image-information{
} */
.images-info{
    width: 335px;
     height: 328px;
    border-radius: 50%;
}
.information-text{
    margin-bottom: 40px;
}
.beautyzone {
    font-weight: 600;
}
p{
    font-size: 22px;
    color: var(--color--brand--dark);
}


/* whywe section */

.whywe-section{
    padding: 88px 0 48px 0;
}
.whywe-list{
display: flex;
gap: 56px;
width: 1060px;
margin: 0 auto;
padding: 0;
}
.whywe-card{
    width: 316px;
    border: 1px solid black; 
    border-radius: 32px;
    padding: 24px 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}
.whywe-icons{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 8px;
    fill: var(--color--brand);
    
}
.whywe-items{
    
}

.article-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

/* procedures section */

.procedures-section{
    padding: 48px 0;
}
.procedures-container{
    display: flex;
    gap: 32px;
    align-items: center;
}
.procedures-list{
 display: flex;
 gap: 16px;
 
}
.procedures-card{
    gap: 16px;
    width: 344px;
    height: 456px;
    border: 1px solid black;
    background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
    border-radius: 4px 120px 4px 120px;
    }

/* .procedures-photo{
    background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
   border-radius: 4px 120px 4px 120px;
    width: 344px;
    height: 456px;
} */
.procedures-item{
    flex-basis: calc((100% - 32px)/ 3);
}

.procedures-text{
    display: flex;
    /* color: var(--color--white);  */
    color: #2B7FFF;
    font-size: 22px;
    line-height: 1.2;  
    justify-content: center;
}
.procedures-button{
    display: flex;
    color: var(--color--brand--dark);
    background-color: transparent;
    border: 1px solid var(--color--brand--dark);
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.procedures-button:hover{
    fill: var(--color--white);
    background-color: var(--color--brand);
    border: 1px solid var(--color--white);
}

/* contact section */

.contact-section{
    padding: 48px 0 96px 0;
}

.contact-container{
    display: flex;
    gap: 32px;
}
.contact-map{
    border-radius: 32px;
}

/* nav */

.footer{
    background-color: var(--color--brand--dark);

    padding: 56px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-logo {
    flex-grow: 1;
}
.footer-nav{
    display: flex;
    flex-basis: 50%;
}
.footer-address{
    display: flex;
    flex-basis: 50%;
}
.footer-menu{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}
.address-contacts{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}
.address-info{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}
.address-icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer-icons{
    flex-direction: row;
}
    
.link{
    color: var(--color--brand--dark);
    text-decoration: none;
}
.link:hover{
   color: var(--color--brand);
   text-decoration: none;
}
.link2{
    color:var(--color--white);
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}
.address-link{
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}
.adress-copyright{
    font-size: 13px;
    color: #747272;
    font-style: normal;
}
