/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v51-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/roboto-v51-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/play-v21-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* basic color  */
:root{
    --color--brand:#2B7FFF;
    --color--brand--dark: #011C44;
    --color--white: #FFFFFF;
    --color-secondary-light:#747272;

}
*{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
address
{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--color--white) ;
    margin: 0;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.container{
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* all section */

.section-title .accent {
    color: var(--color--brand);
}

/* section title */

.section-title {
    font-family: 'Play', sans-serif;
    color: var(--color--brand--dark);
    font-weight: 700;
    font-size: 64px;
    line-height: 1.16;
    margin-bottom: 40px;
}
.centered{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 0;
}

/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25));
}
.header-container{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}
.header-menu{
    display: flex;
    gap: 56px; 
}
.header-icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.header-icon{
    display: flex;
    color: var(--color--brand--dark);
}

/* main section */

.hero-section{
    background-image: url('./imagesbeauty/hero-background.png');
    /* background-image: linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%);*/
    background-repeat: no-repeat; 
    background-size: cover;
   background-position: center right;
   padding: 125px 0;
}

.hero-title{
    width: 529px;
    color: var(--color--brand);
    font-family: 'Play', sans-serif;
     font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    text-align: left;
    margin: 0 0 40px 0; 
}
.hero-container{
    display: flex;
    padding-left: 106px;
    flex-direction: column;
}
h1, h2{
    font-family: 'Play';
}
.modal-btn-open{
    display: flex;
    width: 219px;
    height: 53px;
    color:var(--color--white);
    background-color: var(--color--brand);
    font-family: inherit;
    font-weight: 600;
   border-radius: 32px;
   font-size: 18px;
   border: 2px solid var(--color--brand);
   flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
   gap: 10px;
   margin-bottom: 14px;
}
.modal-btn-open:hover{
    color: var(--color--brand--dark);
    background-color: transparent;
}
.advice{
    width: 238px;
    height: 36px;
    font-size: 12px;
    text-align: center;
}
.cosmetics{
    font-size: 18px;
    margin-bottom: 16px;
}

/* section information */

.information-section{
    padding: 20px 0 88px 0;
}
.information-container{
    position: relative;
    display: flex;
    gap: 40px;
}
.information-content{
    display: flex;
    flex-direction: column;
}
.image-information{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 499px;
    width: 100%;

}
.images-info{
    width: 335px;
     height: 328px;
    border-radius: 50%;
}
.images-info.before{
    align-self: flex-start;
}

.star-1{
    position: absolute;
    fill: var(--color--brand--dark);
    top: 336px;
    left: 860px;
}
.star-2{
    position: absolute;
    fill: var(--color--brand);
    left: 1212px;
    top: 32px;
}
.star-3 {
    position: absolute;
    fill: var(--color-secondary-light);
    left: 1212px;
    top: 270px;
}
.animation{
    animation: spin 8s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* .image-information::before{
    position: absolute;
    background-image: url(./imagesbeauty/Star-2.png);
    background-repeat: no-repeat;
    right: 14px;
    top: 34px;
    width: 40px;
    height: 40px;
    content: '';

}
.image-information::after{
    position: absolute;
    background-image: url(./imagesbeauty/Star-1.png);
    width: 56px;
    height: 56px;
    bottom: 290px;
    left: 120px;
    content: '';
}
.information-section::after{
    position: absolute;
    background-image: url(./imagesbeauty/Star-3.png);
    width: 16px;
    height: 16px;
    top: 308px;
    right: 350px;
    content: '';
} */
.images-info.after{
    align-self: flex-end;
}

.information-text{
    margin-bottom: 40px;
    width: 709px;
}
.beautyzone {
    font-weight: 600;
}
p{
    font-size: 22px;
    color: var(--color--brand--dark);
}


/* whywe section */

.whywe-section{
    padding: 88px 0 48px 0;
}
.whywe-list{
display: flex;
gap: 56px;
width: 1060px;
margin: 0 auto;
padding: 0;
}
.whywe-card{
    width: 316px;
    height: 181px;
    border: 1px solid black; 
    border-radius: 32px;
    padding: 24px 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}
.whywe-icons{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 8px;
    fill: var(--color--brand);
    
}

.article-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

/* procedures section */

.procedures-section{
    padding: 48px 0;
}
.procedures-container{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.procedures-list{
 display: flex;
 gap: 16px;
 
}
.procedures-card{
    gap: 16px;
    width: 344px;
    height: 456px;
    border: 1px solid black;
    background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
    border-radius: 4px 120px 4px 120px;
    }

/* .procedures-photo{
    background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
   border-radius: 4px 120px 4px 120px;
    width: 344px;
    height: 456px;
} */
.procedures-item{
    flex-basis: calc((100% - 32px)/ 3);
}

.procedures-text{
    display: flex;
    /* color: var(--color--white);  */
    color: #2B7FFF;
    font-size: 22px;
    line-height: 1.2;  
    justify-content: center;
}
.procedures-button{
    display: flex;
    color: var(--color--brand--dark);
    background-color: transparent;
    border: 1px solid var(--color--brand--dark);
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.procedures-button.next{
    transform: rotate(180deg);
}
.procedures-button:hover{
    fill: var(--color--white);
    background-color: var(--color--brand);
    border: 1px solid var(--color--white);
}

/* contact section */

.contact-section{
    padding: 48px 0 96px 0;
}

.contact-container{
    display: flex;
    gap: 32px;
    width: 1060px;
}
.contact-map{
    border-radius: 32px;

}
.contact-form{
}
.contact-forma{
    width: 424px;
    background-color: var(--color--brand--dark);
    box-sizing: border-box;
    padding: 48px 56px;
    border-radius: 32px;
}
.form-title.contact-title{
    font-weight: 600;
    font-size: 22px;
}
.contact-title span{
    color: var(--color--brand);
}
.contact-policy{
    text-align: center;   
}
.form-input.contact-input{
    transition: background-color 0.2s;
}
.contact-maps{
    border-radius: 32px;
    width: 606px;
        height: 480px;
}

/* nav */

.footer{
    background-color: var(--color--brand--dark);
    padding: 56px 0;
    position: relative;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-logo {
    flex-grow: 1;
}
.footer-nav{
    display: flex;
    flex-basis: 50%;
}
.footer-address{
    display: flex;
    flex-basis: 50%;
}
.footer-menu{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}
.footer::after{
    background-image: url(./imagesbeauty/footer-photo.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 248px;
    height: 152px;
    bottom: 0;
     right: 0;
   left: 1310px;
    content: '';
}
.address-contacts{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}
.address-info{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-contacts{
    display: flex;
    flex-grow: 1;
    gap: 16px;
    flex-direction: column;
}
.footer-social-media{
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

}
.footer-icons{
    display: flex;
    fill: var(--color--white);
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
    
.link{
    color: var(--color--brand--dark);
    text-decoration: none;
    transition: color 0.2s;
}
.link:hover{
   color: var(--color--brand);
   text-decoration: none;
}
.link2{
    color:var(--color--white);
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    transition: color 0.2s ;
}
.link2:hover{
    color: var(--color--brand);
}
.address-link{
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    transition: color 0.2s;
}
.address-link:hover{
    color: var(--color--brand);
}
.adress-copyright{
    font-size: 13px;
    color: #747272;
    font-style: normal;
}
/* modal */
.backdrop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s , visibility 0.2s;
}
.modal{
    position: relative;
    width: 724px;
    height: 682px;
    padding: 42px 144px;
    background-color: var(--color--brand--dark);
    border-radius: 48px;
    overflow: auto;
}
.modal-btn-close{
   position: absolute;
   top: 42px;
   right: 42px;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* form */
.form-field{
    margin-bottom: 24px;
}
.form-input{
    padding: 18px 32px;
    width: 310px;
    border: 2px solid var(--color-secondary-light);
    border-radius: 32px;
    background-color: transparent;
    transition: background-color 0.2s;
}
.form-input::placeholder{
    color: var(--color--white);
}
.form-input:focus{
    background-color: var(--color-secondary-light);
    outline: none;
}
.form-button{
    width: 281px;
}
.form-button:hover{
    color: var(--color--white);
}
.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-label{
    display: block;
}
.form-title{
    color: var(--color--white);
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 40px;
    text-align: center;
}
.form-text{
    color: var(--color--white);
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 32px;
    text-align: center;
}
.form-text span{
    color: var(--color--brand);
}
.policy-text{
    font-weight: 400;
    font-size: 12px;
    color: var(--color-secondary-light);
}
.form-link{
    color: var(--color-secondary-light);
    text-underline-offset: 2px;
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}